$ORIGIN {{ rev_domain }}.
$TTL 604800	; 1 week
@	IN SOA	{{ domain }}. admin.{{ domain }}. (
				7          ; serial
				604800     ; refresh (1 week)
				86400      ; retry (1 day)
				2419200    ; expire (4 weeks)
				604800     ; minimum (1 week)
				)
@  IN	NS	{{ domain }}.

{{ ansible_default_ipv4.address.split('.')[3] }}  PTR  {{ ansible_fqdn }}

{% for key, value in records.iteritems() %}
{{ value.last }}   PTR   {{ key }}.{{ domain }}.
{% endfor %}
